html, body {
  font-family: "DejaVu Sans", sans-serif;
}

body {
  padding-top: 3.5rem;
  margin: 1em;
}

#logo {
  width:  64px;
  height: 64px;
}

ul.raquo {
  list-style: none;
  padding:    0;
}

ul.raquo li {
  padding-left: .5em;
}

ul.raquo li:before {
  content:        "»";
  padding-right:  .2em;
}

.jap {
  font-family:  ipaexgothic, ipagothic, ipaexmincho, ipamincho,
                sans-serif;
}

.nowrap {
  display: inline-block;
}

.smaller {
  font-size: 70%;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

.anchor {
  padding-top:  5rem;
  margin-top:  -5rem;
}

.codehilite {
  background-color: inherit;
  padding:          1rem;
}

.codehilite pre {
  background-color: #ffffff;
  border:           1px solid rgba(0, 0, 0, .125);
  border-radius:    .25rem;
  padding:          1.25rem;
}

.card-deck {
  margin: inherit;
}

{ oops
