html, body {
  font-family: sans-serif;
}

body {
  padding-top: 3.5rem;
  margin: 1em;
}

#logo {
  width:  64px;
  height: 64px;
}

.jap {
  font-family:  ipaexgothic, ipagothic, ipaexmincho, ipamincho,
                sans-serif;
}

.nowrap {
  display: inline-block;
}

.smaller {
  font-size: 70%;
}
