html {
  font-size: .9rem;
}

@media (max-width: 767px) {
  html {
    font-size: .85rem;
  }
}

/* NB: update when updating bootstrap */
html, body, .tooltip, .popover {
  font-family:  "DejaVu Sans", -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, "Helvetica Neue", Arial,
                sans-serif;
}

body {
  padding-top:  3.5rem;
  margin:       1rem;
}

.h6, h6 {
  font-size: 1.1rem;
}

#logo {
  width:  64px;
  height: 64px;
}

ul.raquo {
  list-style: none;
  padding:    0;
}

ul.raquo li {
  padding-left: .5em;
}

ul.raquo li:before {
  content:        "»";
  padding-right:  .2em;
}

.jap {
  font-family: ipaexgothic, ipagothic, sans-serif;
}

.nowrap {
  display: inline-block;
}

.permalink {
  visibility: hidden;
}

.permalink:hover {
  color:            inherit !important;
  text-decoration:  none;
}

.permalink:hover, *:hover > .permalink {
  visibility: visible;
}

.anchor {
  padding-top:  5rem;
  margin-top:  -5rem;
}

.codehilite {
  background-color: inherit;
  padding:          1rem;
}

.codehilite pre {
  background-color: #ffffff;
  border:           1px solid rgba(0, 0, 0, .125);
  border-radius:    .25rem;
  padding:          1.25rem;
}

.card-deck {
  margin: inherit;
}

.path-divider {
  margin: 0 .25em;
}
