---
title: Tags
order: 5

- dat = -> x { x.date }

%h1&= special.title
%hr
- extra.tags.sort.each do |t,ps|
  %h2&= t
  %ul
    - ps.sort_by(&dat).reverse.each do |p|
      %li
        &= p.date.strftime '%F %T'
        »
        %a{ href: p.link }&= p.title
