<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description"
          content="{{ sachineko }} | {{ aboutme }}" />
    <meta property="og:title"
          content="{{ title }} - {{ tagline }}{% if page != 'index' %} - {{ ptitles.get(page, page) }}{% endif %}" />
    <meta property="og:description"
          content="{{ sachineko }} | {{ aboutme }}" />
    <meta property="og:image"
          content="https://obfusk.ch/img/obfusk.png" />
    <link rel="icon" href="/img/obfusk.ico" />
    <title>
      {{ title }} - {{ tagline }}{% if page != "index" %} - {{ ptitles.get(page, page) }}{% endif %}
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/pygments.css" rel="stylesheet" />
    <link href="/css/base.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">{{ title }}</a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#nav"
              aria-controls="nav" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav mr-auto">
          {%- for nav_page, nav in navs.items() %}
            {%- set active = page == nav_page %}
            <li class="nav-item {% if active %}active{% endif %}">
              <a class="nav-link" href="{{ nav.link }}">{{ nav.text }}</a>
            </li>
          {%- endfor %}
        </ul>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <div id="content">
{% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <footer class="text-center">
      <hr/>
      <p>&copy; {{ year }} {{ name }}</p>
    </footer>
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
