{%- macro anchor(title) %}
  <div class="anchor" id="{{ anchor_id(title) }}"></div>
{%- endmacro %}
{%- macro anchor_link(title, what = "post") %}
  <a href="#{{ anchor_id(title) }}" class="permalink"
     title="Permalink to this {{ what }}">#</a>
{%- endmacro %}
{%- macro repository(repo) %}
  <!-- repository -->
  <div class="col-md-6 col-lg-4 card-deck">
    <section class="card m-1">
      <div class="card-body">
        <h6 class="card-title">
          <a href="{{ repo.link }}">
            {%- for elem in repo.name.split("/") %}
              {{- elem }}
              {%- if not loop.last -%}
                <wbr/><span class="path-divider">/</span><wbr/>
              {%- endif %}
            {%- endfor -%}
          </a>
        </h6>
        <p class="card-text">{{ repo.desc }}</p>
      </div>
      {%- if repo.lang or repo.info or repo.warn %}
        <div class="card-footer">
          {%- for x in repo.lang %}
            <span class="badge badge-primary">{{ x }}</span>
          {%- endfor %}
          {%- for x in repo.info %}
            <span class="badge badge-secondary">{{ x }}</span>
          {%- endfor %}
          {%- for x in repo.warn %}
            <span class="badge badge-warning">{{ x }}</span>
          {%- endfor %}
        </div>
      {%- endif %}
    </section>
  </div>
  <!-- /repository -->
{%- endmacro %}
{%- macro repository_group(group) %}
  <!-- repository_group -->
  {{- anchor(group.title) }}
  <div class="card">
    <h5 class="card-header">
      {%- set t, st = (group.title.split("|") + [""])[:2] %}
      {{ t|trim }}
      {%- if st|trim %}
      <small class="text-muted">{{ st|trim }}</small>
      {%- endif %}
      {{- anchor_link(group.title, "group") }}
    </h5>
    <div class="card-body">
      <div class="row no-gutters">
        {%- for repo in group.elems %}
          {{- repository(repo) }}
        {%- endfor %}
      </div>
    </div>
  </div>
  <!-- /repository_group -->
{%- endmacro %}
