{% extends "_base.html" %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col col-lg-10 media">
      <img class="d-flex mr-3" src="/img/obfusk.svg" alt="logo"
           id="logo" />
      <div class="media-body">
        <h2>{{ title }}</h2>
        <h5>
          &nbsp;
          <span class="emoji">🌈</span>
          {{ tagline }}
          <span class="emoji">😸</span>
        </h5>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row justify-content-center">
    <div class="col col-lg-10">
      <div class="card">
        <h3 class="card-header">
          <span class="nowrap">{{ name }}</span>
          <small class="jap nowrap">
            「<ruby><rb>幸猫</rb><rt>フェリックス</rt></ruby>」
          </small>
        </h3>
        <div class="card-body pb-1">
          <ul class="raquo">
            <li>
              Fixer of Bugs (always happy to help -- feel free to ask!).
            </li>
            <li>
              Student Computing Science & <s>Cybersecurity</s> Infosec
              @ Radboud University.
            </li>
            <li>
              Former
              <a href="https://fsfe.org">Free Software Foundation Europe</a>
              Deputy Coordinator Netherlands &
              <a href="https://privacycafe.bof.nl">Privacy Café</a> volunteer.
            </li>
            <li>
              Working for Software Freedom, Privacy and a Free Digital
              Society.
            </li>
          </ul>
          <ul class="raquo">
            <li>
              Functional Programming, Programming Language Design,
              Mathematics.
            </li>
            <li>
              <a href="https://www.python.org">Python</a>,
              <a href="https://www.haskell.org">Haskell</a>, Lisp;
              <a href="https://reproducible-builds.org">Reproducible Builds</a>;
              <a href="https://www.debian.org">Debian</a> GNU/Linux.
            </li>
            <li>
              I speak English, Nederlands, Deutsch &
              <span class="jap">日本語</span>; pronouns: they/them.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 pr-md-0">
      <div class="card mt-3 ml-md-0 mr-md-2">
        <div class="card-header py-2">Code Sharing & Contact</div>
        <div class="card-body pb-1">
          <p>
            <span class="nowrap">
              &rarr; <a href="{{ navs.repos.link }}">Repositories</a>,
            </span>
            <span class="nowrap">
              &rarr; <a href="{{ navs.contribs.link }}">Contributions</a>,
            </span>
            <span class="nowrap">
              &rarr; <a href="{{ navs.blog.link }}">Blog</a>
            </span>
          </p>
          <p>
            <span class="nowrap">
              &rarr; <a href="https://github.com/obfusk">GitHub</a>,
            </span>
            <span class="nowrap">
              &rarr; <a href="https://gitlab.com/obfusk">GitLab</a>,
            </span>
            <span class="nowrap">
              &rarr; <a href="https://salsa.debian.org/obfusk">Salsa</a>,
            </span>
            <span class="nowrap">
              &rarr; <a href="https://foss.heptapod.net/obfusk">Heptapod</a>
            </span>
          </p>
          <p>
            <span class="nowrap">
              &rarr; <a href="https://ko-fi.com/obfusk"
                >Buy me a <s>coffee</s> cup of tea</a>
            </span>
          </p>
          <p>
            <span class="nowrap">
              &rarr; <a href="mailto:flx@obfusk.net">Email</a>,
            </span>
            <span class="nowrap">
              &rarr; <a class="text-muted"
                href="https://twitter.com/obfusk">Twitter</a>,
            </span>
            <span class="nowrap">
              &rarr; <a class="text-muted"
                href="https://blogs.fsfe.org/flx">FSFE Blog</a>
            </span>
          </p>
        </div>
      </div>
      <div class="card mt-3 ml-md-0 mr-md-2">
        <div class="card-header py-2">Android Apps</div>
        <div class="card-body pb-1">
          <p>
            &rarr;
            <a href="https://github.com/obfusk/jiten#readme"
              >Jiten Japanese Dictionary</a>
            <br/>
            &rarr;
            <a href="https://github.com/obfusk/jiten-webview#readme"
              >Jiten Japanese Dictionary [Online]</a>
            <br/>
            &rarr;
            <a href="https://github.com/obfusk/sokobang#readme"
              >Sokoban(g) Puzzle</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 pl-md-0">
      <div class="card mt-3 ml-md-2 mr-md-0">
        <div class="card-header py-2">Projects</div>
        <div class="card-body pb-1">
          <p>
            &rarr;
            <a href="https://github.com/obfusk/apksigcopier"
              >apksigcopier - copy/extract/patch apk signatures</a>
            <br/>
            &rarr;
            <a href="https://github.com/obfusk/jiten"
              >jiten - japanese dictionary</a>
            <br/>
            &rarr;
            <a href="https://github.com/obfusk/kanjidraw"
              >kanjidraw - handwritten kanji recognition</a>
            <br/>
            &rarr;
            <a href="https://github.com/obfusk/koneko"
              >koneko - a concatenative not-quite-lisp for kittens</a>
            <br/>
            &rarr;
            <a href="https://github.com/obfusk/m"
              >m - minimalistic media manager</a>
            <br/>
            &rarr;
            <a href="https://github.com/obfusk/shtst"
              >shtst - simple cli testing</a>
          </p>
          <p>
            &rarr;
            <a href="https://github.com/obfusk/bash-cheatsheet"
              >bash cheat sheet</a>
            <br/>
            &rarr;
            <a href="/repos.html#a_games">games</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="text-center">
    <span class="nowrap">
      <a href="https://gnupg.org">GnuPG</a> fingerprint:
    </span>
    <span class="nowrap">
      <code class="nowrap">D5E4 A51D F8D2 55B9 FAC6</code>
      <code class="nowrap">A9BB 2F96 07F0 9B36 0F2D</code>
    </span>
  </div>
{% endblock %}
