{% extends "_base.html" %}
{% block content %}
  <div class="media">
    <img class="d-flex mr-3" src="/img/obfusk.svg" alt="logo"
         id="logo" />
    <div class="media-body">
      <h2>{{ title }}</h2><h5>&nbsp; {{ tagline }}</h5>
    </div>
  </div>
  <hr/>
  <h3>
    <span class="nowrap">{{ name }}</span>
    <small class="jap nowrap">
      「<ruby><rb>幸猫</rb><rt>フェリックス</rt></ruby>」
    </small>
  </h3>
  <ul class="raquo">
    <li>
      Deputy Coordinator Netherlands,
      <a href="https://fsfe.org">Free Software Foundation Europe</a>;
      <a href="https://privacycafe.bof.nl">Privacy Café</a> volunteer;
      developer/hacker.
    </li>
    <li>
      Student Computer Science & Cybersecurity @ Radboud University.
    </li>
    <li>
      Working for Software Freedom, privacy and a free digital
      society.
    </li>
    <li>
      Interested in (functional) programming, (Debian) GNU/Linux,
      mathematics, Japanese (<span class="jap">日本語</span>).
    </li>
  </ul>
  <hr/>
  <p>
    <span class="nowrap">
      &rarr; <a href="/repos.html">Repositories</a>,
    </span>
    <span class="nowrap">
      &rarr; <a href="/blog.html">Blog</a>
    </span>
  </p>
  <p>
    <span class="nowrap">
      &rarr; <a href="https://github.com/obfusk">GitHub</a>,
    </span>
    <span class="nowrap">
      &rarr; <a href="https://twitter.com/obfusk">Twitter</a>,
    </span>
    <span class="nowrap">
      &rarr; <a href="https://blogs.fsfe.org/flx">FSFE Blog</a>,
    </span>
    <span class="nowrap">
      &rarr; <a href="mailto:flx@obfusk.net">Email</a>
    </span>
  </p>
  <p>
    <span class="nowrap">
      <a href="https://gnupg.org">GnuPG</a> fingerprint:
    </span>
    <span class="nowrap">
      <code class="nowrap">D5E4 A51D F8D2 55B9 FAC6</code>
      <code class="nowrap">A9BB 2F96 07F0 9B36 0F2D</code>
    </span>
  </p>
{% endblock %}
