{% extends "_base.html" %}
{% from "_macros.html" import repository_group %}
{% block content %}
  <div class="alert alert-info">
    See also my
    <a href="{{ navs.contribs.link }}" class="alert-link">contributions</a>
    to others' repositories.
  </div>
  <div>
    {%- for group in repos %}
      <span class="nowrap ml-1 mr-1">
        &rarr; <a href="#{{ anchor_id(group.title) }}">{{ group.title }}</a>
        {%- if not loop.last %},{% endif -%}
      </span>
    {%- endfor %}
  </div>
  <br />
  {%- for group in repos %}
    {{- repository_group(group) }}
    <br />
  {%- endfor %}
{% endblock %}
