{% extends "_base.html" %}
{% from "_repos.html" import repository_group %}
{% block content %}
  <div class="alert alert-info">
    See also my
    <a href="{{ navs.contribs.link }}" class="alert-link">contributions</a>
    to others' repositories.
  </div>
  <div class="container">
    <div class="row">
      {%- for group in repos %}
        <div class="col-md-6 col-lg-4 col-xl-3">
          &rarr; <a href="#{{ anchor(group.title) }}">{{ group.title }}</a>
        </div>
      {%- endfor %}
    </div>
  </div>
  <br />
  {%- for group in repos %}
    {{- repository_group(group) }}
    <br />
  {%- endfor %}
{% endblock %}
